atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.2
Django==2.1.4
django-cors-headers==2.4.0
django-filter==2.0.0
djangorestframework==3.9.0
drf-yasg==1.11.1
factory-boy==2.11.1
Faker==1.0.1
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest==4.0.2
pytest-cov==2.6.0
pytest-django==3.4.4
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
ruamel.yaml==0.15.81
six==1.12.0
text-unidecode==1.2
uritemplate==3.0.0
urllib3==1.24.1
uuid==1.30
